{% extends "layout.html.j2" %}

{% block body %}
  <h1 class="cover-heading animated slideInDown" style="animation-duration: 1.5s;">Goals For All</h1>
  <p class="lead animated fadeIn" style="animation-duration: 2s; animation-delay: 0.5s;">
    Zenki is an app created to help those who need something to do find a purpose in life by acomplishing task's put up by other viewers.
    Each completed task helps bring you closer to a fulfilling day.
  </p>
  <p class="lead animated flipInX" style="animation-duration: 2s; animation-delay: 1s;">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
{% endblock %}

{% block footer %}
  <p class="animated fadeInUp" style="animation-duration: 2s; animation-delay: 1.2s;">An app by <strong>Devnard</strong></p>
{% endblock %}
