<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zenki | {{ title }}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/cover.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/alerts.css') }}">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/locale/af.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='scripts/jq-prototype.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='scripts/alerts.js') }}" charset="utf-8"></script>
</head>
<body>

  {% for message in get_flashed_messages() %}
    <div class="alert alert-light alert-bar pd-4 animated fadeInDown" id="alert-bar">
      {{ message }}
    </div>
  {% endfor %}

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand text-uppercase">Zenki</h3>
              <nav class="nav nav-masthead mt-2 mt-lg-0 d-flex justify-content-center">
                <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{{ url_for('landing') }}">Home</a>
                <a class="nav-link {% if request.path.split('/')[1] == 'tasks' %} active {% endif %}" href="{{ url_for('tasks') }}">Tasks</a>
                {% if session.logged_in %}
                  <a class="nav-link {% if request.path.split('/')[1] == 'my-tasks' %} active {% endif %}" href="{{ url_for('my_tasks') }}">My Tasks</a>
                {% endif %}

                {% if not session.logged_in %}
                  <a class="nav-link {% if request.path == '/login' %} active {% endif %}" href="{{ url_for('login') }}">Login</a>
                  <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                {% else %}
                  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}

              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            {% block body %}
            {% endblock %}
          </main>

          <footer class="mastfoot">
            <div class="inner">
              {% block footer %}
              {% endblock %}
            </div>
          </footer>
        </div>

      </div>

    </div>
</body>
</html>
