{% extends "layout.html.j2" %}

{% block body %}
  <h2>Login</h2>
  {% if error %}<div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="{{ url_for('login') }}" class="text-left" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="col-4 offset-4 text-center">
      <button type="submit" class="btn btn-block btn-sm btn-success mt-4">Submit</button>
    </div>
  </form>
{% endblock %}
