{% extends "layout.html.j2" %}

{% block body %}
  {% if session.logged_in and request.path.split('/')[1] == 'my-tasks' %}
      <form action="{{ url_for('add_task') }}" method=post class="add-task text-right p-2">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Title</label>
              <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Make Spice">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-block btn-primary">Add</button>
          </div>
      </form>
    {% endif %}
    <div class="container p-4">
      <div class="row">
        <div class="col-4">
          <a class="text-truncate btn btn-block btn{% if filter != 'todo' %}-outline{% endif %}-warning" href="/{{ request.path.split('/')[1] }}/todo">TODO</a>
        </div>
        <div class="col-4">
          <a class="text-truncate btn btn-block btn{% if filter != 'all' %}-outline{% endif %}-light" href="/{{ request.path.split('/')[1] }}">ALL</a>
        </div>
        <div class="col-4">
          <a class="text-truncate btn btn-block btn{% if filter != 'completed' %}-outline{% endif %}-info" href="/{{ request.path.split('/')[1] }}/completed">DONE</a>
        </div>
      </div>
    </div>
    <ul class="list-group tasks">
      {% for task in tasks %}
        <li>
          <a href="/toggle_task/{{ task.id }}" class="list-group-item list-group-item-action flex-column align-items-start text-left">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ task.title }}</h5>
              <small>{{ task.timestamp | safe }}</small>
            </div>
            <p class="mb-1">{{ task.text|safe }}</p>
            {% if task.completed > 0 %}
              <small class="text-success text-uppercase">done</small>
            {% else %}
              <small class="text-warning text-uppercase">todo</small>
            {% endif %}
              <small class="float-right text-dim">{{ task.owner_name | safe }}</small>
          </a>
        </li>
      {% else %}
        <li><em>Unbelievable.  No tasks here so far</em></li>
      {% endfor %}
    </ul>

{% endblock %}
