.btn { cursor: pointer }

.tasks        { list-style: none; margin: 0; padding: 0; z-index: 1; }
.tasks li     { margin: 0.8em 1.2em; }
.tasks li h2  { margin-left: -1em; }
.add-task      { font-size: 0.9em; }
.add-task dl   { font-weight: bold; }

.text-dim {color: rgba(34,34,34, .2)}
